img{
  display: block;
  height: auto;
}
#pfp{
  margin: 0 auto;
  width: clamp(140px, 28%, 340px);
  border-radius: 50%;
}
#gif{
  width: clamp(80px, 10%, 280px);
}
#skills{
  margin: 0 auto;
  width: clamp(90px, 10%, 300px);

}
:root {
    --background: #031e11;
}
@media (min-width: 800px) {
    :root {
        --size: 1.4;
    }
}
@media (min-width: 1200px) {
    :root {
        --size: 1.8;
    }
}